.wrapper {
    display: flex;
    flex-direction: column;
}

.field {
    display: grid;
    grid-template-areas: 'field';

    justify-items: end;
    align-items: center;
}

.input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;

    padding: 1em;
    border: none;
    border-radius: 10px;

    background-color: #ffffff;

    grid-area: field;
}

.error {
    grid-area: field;

    margin-right: 10px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}