.sidebar {
    height: 100vh;

    background-color: #e6e6e6;

    border: none;
}

.sidebar > div {
    background-color: #e6e6e6;
}

.menuItem {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}