.wrapper {
    min-width: 600px;
    min-height: 460px;
    width: fit-content;
    height: fit-content;

    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 1em;

    background-color: #e6e6e6;

    border-radius: 10px;

    background-image: url(../../../../assets/images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}

.users {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}