.wrapper {
    width: 100%;

    margin: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    flex-grow: 1;
}

.trainings {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    flex-grow: 1;

    width: 100%;
}

.message {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;

    width: fit-content;

    padding: 10px;

    border-radius: 10px;

    background-color: #efefef;
}