.wrapper {
    max-width: calc(100vw - 250px);
    width: calc(100% - 250px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    min-width: 500px;
    min-height: 600px;

    display: flex;
    flex-direction: column;

    background-color: #e6e6e6;

    border-radius: 10px;
        
    background-image: url(../../assets/images/background.png);
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    margin: 2em;

    width: calc(100% - 4em);

    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.form {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.label {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;

    margin-left: 10px;
    margin-bottom: 5px;
}

.input {
    border: none;
}

.input:hover {
    box-shadow: 0 0 10px #e04f5f;
}

.input:focus {
    outline: none;

    box-shadow: 0 0 10px #db0e26;
}

.button {    
    min-width: 210px;

    background-color: #e04f5f;

    transition: all ease 0.5s;
}

.button:hover {
    cursor: pointer;

    opacity: 0.5;
}

.message {
    background-color: #E04F5F;

    color: #ffffff;
}