.wrapper {
    margin: 2em 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrapperCollapsed {
    margin: 1em 1em;

    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100px;
    max-height: 100px;
}

.logoCollapsed img {
    max-width: 35px;
    max-height: 35px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}