@font-face {
    font-family: Norwester;
    src: url(../../../assets/fonts/norwester.otf);
}

.wrapper {
    margin: 2em 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo img {
    max-width: 100px;
    max-height: 100px;
}

.logoCollapsed img {
    max-width: 35px;
    max-height: 35px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerWord1 {
    font-family: Norwester;
    font-size: 1.8em;
}

.headerWord2 {
    font-family: Norwester;
    font-size: 1.8em;
    color: red
}

@media only screen and (max-width: 1200px) {
    
}


@media only screen and (max-width: 1024px) {
    
}


@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 480px) {
    .header {
        display: none;
    }

    .logo img {
        max-width: 70px;
        max-height: 70px;
    }
}