.wrapper {
    display: flex;
    align-items: end;
    gap: 1em;
}

.label {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;

    margin-left: 10px;
    margin-bottom: 5px;
}

.input {
    border: none;
}

.input:hover {
    box-shadow: 0 0 10px #e04f5f;
}

.input:focus {
    outline: none;

    box-shadow: 0 0 10px #db0e26;
}

.button {    
    min-width: 210px;

    background-color: #e04f5f;

    transition: all ease 0.5s;
}

.button:hover {
    cursor: pointer;

    opacity: 0.5;
}