.wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
}

.date {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;

    background-color: #e04f5f;

    border-radius: 1em;
}

.arrow:hover {
    cursor: pointer;

    opacity: 0.5
}

.arrow img {
    width: 1em;
    height: 1em;
}

.disabled {
    background-color: #efefef;
}

.disabled:hover {
    cursor: not-allowed;
    opacity: 1;
}