.wrapper {
    min-width: 500px;
    width: fit-content;
    height: fit-content;

    padding: 30px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;

    background-color: #e6e6e6;

    border-radius: 10px;

    background-image: url(../../../../assets/images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}