.wrapper {
    width: 100%;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.header {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}