.wrapper {
    min-height: 545px;
    width: fit-content;
    height: fit-content;

    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    background-color: #ffffff;

    border-radius: 10px;
}

.users {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}