.wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    display: flex;
    align-items: center;

    width: fit-content;
    height: fit-content;

    padding: 20px 0;

    border-radius: 10px;

    background-color: #ffffff;
}

.trainingsWindow {
    flex-grow: 1;

    margin: 0 20px;

    border-radius: 10px;
}